:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);

  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

.inter-400 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.inter-700 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.inter-800 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  margin-block: 1.8rem;
  margin-inline: 0.5rem;
  background-color: var(--off-white);
  height: 100%;
  /* height: 100dvh; */
}

main {
  display: grid;
  place-content: safe center;
  /* height: 100vh; */
  height: 100%;

  /* gap: 1.5rem; */
  margin-block: 1.95rem;
}

.main-title {
  font-size: 2.5rem;
  line-height: 1;
  padding-block-start: 1.5rem;
  /* max-width: 40ch; */
}

.main-article {
  font-size: 0.9375rem;
  color: var(--dark-grayish-blue);
  padding-block-start: 1.1rem;
  line-height: 1.7;
}

#desktop-menu {
  display: none;
}
#mobile-menu {
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 2rem;

  /* margin-inline-start: auto; */
}

#close-btn {
  align-self: flex-end;
}
#first-top {
  margin-block-start: 1rem;
}
nav {
  margin-inline-start: auto;
}

#navbar {
  display: flex;
  flex-direction: column;
}

li {
  flex: 1;
}

button > p {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

button:hover {
  cursor: pointer;
}

.logo-img {
  width: 2.85rem;
}

.main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-new-section {
  display: flex;
  flex-direction: column;

  justify-content: center;
  margin-block-start: 3.9rem;
  background-color: var(--very-dark-blue);
  color: var(--off-white);
  padding-inline: 1.4rem;
  padding-block: 1.1rem 0rem;
}

.main-new-section-heading {
  color: var(--soft-orange);
  font-size: 2rem;
  padding-block-end: 1.4rem;
}

.main-new-section-article {
  border-bottom: 1px solid var(--dark-grayish-blue);
  padding-block-end: 1.8rem;
}

.main-new-section-article > h3 {
  font-size: 1.25rem;
  padding-block-end: 0.4rem;
  color: var(--off-white);
}

.main-new-section-article > p {
  font-size: 0.93rem;
  color: var(--grayish-blue);
  line-height: 1.7;
}
.main-new-section-article:last-child {
  border-bottom: 0;
  padding-block: 1.7rem 1.6rem;
}

:nth-child(2 of .main-new-section-article) {
  padding-block: 1.7rem 1.8rem;
}

.main-top-3 {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  /* flex: 1; */
  /* justify-content: space-evenly; */
}

.read-btn {
  background-color: var(--soft-red);
  color: var(--very-dark-blue);
  font-size: 1rem;
  letter-spacing: 0.2rem;
  padding-inline: 1.9rem;
  padding-block: 0.75rem 0.7rem;
  margin-block-start: 1.4rem;
}
.read-btn:hover {
  color: var(--off-white);
  background-color: var(--very-dark-blue);
}
.top-con {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
}
.top-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
}

.top-img {
  /* width: 100%;
  height: 100%; */
  /* object-fit: contain; */
}

:popover-open {
  width: 50%;
  height: 100vh;
  height: 100dvh;
  position: fixed;
  inset: unset;
  bottom: 0;
  right: 0;
  border: 0;
}
::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 35rem) {
  main {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
  }

  picture {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .main-title {
    grid-column: 1;
    grid-row: 2;
  }

  .main-article {
    grid-column: 2;
    grid-row: 2;
  }

  .main-new-section {
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  .main-top-3 {
    grid-column: 1 / -1;
    grid-row: 3;
  }

  #first-top {
    grid-column: 1;
    grid-row: 3;
  }
  #second-top {
    grid-column: 2;
    grid-row: 3;
  }
  #third-top {
    grid-column: 3;
    grid-row: 3;
  }
  .hamburger,
  #navbar {
    display: none;
  }
  #menupopover {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  #desktop-menu {
    display: flex;
    list-style: none;
    gap: 2rem;
  }

  ::backdrop {
    background-color: transparent;
  }
}
